<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head")  %> 
</head>
<body>
    
    <%- include("../partials/nav")  %> 

    <div class="container mt-3">
        <div class="row">
            <div class="col-md-12 mt-3">

                <!--Database Icine Hem Text Formatinda Data Eklemek Hem De Dosya Eklemek Icin
                    enctype Attribute unda multipart/form-data Ozelligini Kullanmak Gerekiyor-->
                <form method="post" enctype="multipart/form-data">
                    <div class="row mb-3">
                        <label for="title" class="col-sm-2 col-form-label">Course Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="subhead" class="col-sm-2 col-form-label">Subhead</label>
                        <div class="col-sm-8">
                            <textarea name="subhead" class="form-control" rows="5"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="description" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-8">

                            <!--Aciklama Alaninda Yazilan Yazilarda Yapilan Islemleri Alabilmek Icin
                                id Attribute unda editor Ozelligini Kullaniyoruz-->
                            <textarea id="editor" name="description" class="form-control" rows="10"></textarea>

                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="image" class="col-sm-2 col-form-label">Photo</label>
                        <div class="col-sm-8">

                            <!--type Attribute unda text Yazar Ise 
                                Fotograf Eklemek Icin Fotograf Adini Kullanicinin Girmesi Gerekiyor-->
                            <!--type Attribute unda file Yazar Ise 
                                Fotograf Eklemek Icin Pencere Cikmasi Gerekiyor-->
                            <input type="file" class="form-control" id="image" name="image">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="category" class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-8">
                            <select name="category" id="category" class="form-select">

                                <!--Select Box Icinde Secilen Bir Deger Yok Ise-->
                                <!--Bu Durumun Kod Karsiligi -1 dir-->
                                <option value="-1" selected>Select</option>

                                <!--Database Icindeki category Tablosunda Yer Alan Kategorileri-->
                                <!--Tarama Islemini Yapiyoruz-->
                                <!--Tarama Isleminden Sonra id Bilgilerine Gore Kategorileri Select Box Icine Yazdiriyoruz-->
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.category_id %> "><%= category.category_name %> </option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="approval" name="approval">
                            <label class="form-check-label" for="approval">
                                Homepage
                            </label>
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="approval" name="approval">
                            <label class="form-check-label" for="approval">
                                Approval
                            </label>
                          </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-8 offset-sm-2">
                          <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--Aciklama Kisminda Yazilan Yazilar Icinde Yapilan Islemlerin
        HTML Karsiligini Database Icinde Eklemek Gerekiyor-->
    <script src="https://cdn.ckeditor.com/ckeditor5/35.0.1/classic/ckeditor.js"></script>

    <!--Aciklama Alaninda Yazilan Yazilarda Yapilan Islemlerin 
        HTML Karsiligini Buluyoruz-->
    <script>
        ClassicEditor
            .create( document.querySelector( '#editor' ) )
            .catch( error => {
                console.error( error );
            } );
    </script>
</body>
</html>